.footer {
  background-color: #0a0a0a;
  color: #fff;
  padding-block: 3em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.5em;
  .footer-section {
    p {
      opacity: 0.9;
      margin-bottom: 0.5em;
    }
    p.title {
      opacity: 1;
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 1em;
    }
  }
}
